---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ post.date | date: '%Y-%m-%d' }}</span>
  {{ content }}

  <div class="social-share">
    <a href="https://twitter.com/home?status={{ page.title }} {{ page.url | prepend: site.url }}"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/shareArticle?url={{ page.url | prepend: site.url }}&title={{ page.title }}"><i class="fa fa-linkedin"></i></a>
  </div>
</div>
